

 <div class="container  px-8 px-sm-8">
　<p><span class="bg-lightsecondary">会員一覧</span>
 　<table class="table ">
 　 <thead>
   　<tr>
  　　<th>image</th>
    　<th>name</th>
    　<th></th>
    　<th>follow</th>
     </tr>
  　</thead>
              <%#= image_tag book.get_image %>

    <tbody>
　　　<% @customers.each do |customer| %>
          <tr>
            <th> <% if customer.image.attached? %>
             <%= image_tag customer.image, size: "50x50" %>
             <% else %>
             <%= image_tag 'no_image', size: "50x50" %>
             <% end %></th>
            <th><%= customer.name %></th>
            <th><%= link_to"詳細ページへ",customer_path(customer.id) %></th>
            <th> <% if current_customer.following?(customer) %>
             <%= link_to "フォロー中", customer_relationships_path(customer.id), class: "btn btn-outline-success mx-auto my-1", method: :delete %>
             <% else %>
             <%= link_to "フォローする", customer_relationships_path(customer.id), class: "btn btn-outline-success mx-auto my-1", method: :post %>
             <% end %></th>
             <th><%#= render 'follow', customers: customers %></th>
          </tr>

          <% end%>


    </tbody>

   </table>
 </div>