  <div class="new-background" >

  <div class="main-container col-4 pt-5 offset-4">
  <div class="box text-white">

    <h2>画像投稿フォーム</h2>


    <% if @post.errors.any? %>
   <%= @post.errors.count %>件のエラーが発生しました
   <ul>
    <% @post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
    </ul>
    <% end %>

    <%= form_with model: @post do |f| %>
    <h4>画像を選択</h4>
      <%= f.label :image, "画像をアップロード", class: "btn btn-outline-success" %>
      <%= f.file_field :image, accept: "image/*",class: "image_form" %>
    <h4>タイトル</h4>
      <%= f.text_field :title, :size=>"40" %>
    <h4>説明</h4>
      <%= f.text_area :caption, :size=>"60x10" %>
    <p>
     <%= f.submit '投稿', class: "btn btn-outline-success" %>
     </p>
    <% end %>
  </div>
  </div>

  </div>