<div class="container  px-8 px-sm-8">
  <p><span class="bg-lightsecondary"><h2 class="text-center">管理者用会員一覧</h2></span>
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th>詳細</th>
          <th>フォロー数</th>
          <th>フォロワー数</th>
          <th>現在</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @customers.each do |customer| %>
          <tr data-href="<%= admin_customer_url(customer.id) %>">
            <th> <% if customer.image.attached? %>
                   <%= image_tag customer.image, size: "50x50" %>
                 <% else %>
                   <%= image_tag 'no_image', size: "50x50" %>
                 <% end %></th>
            <th><%= customer.name %></th>
            <th><%= link_to"会員情報",admin_customer_path(customer.id) %></th>
            <th><%=  "フォロー数" %>:<%= customer.followings.count %></th>
            <th><%= "フォロワー数"  %>:<%= customer.followers.count %></th>
            <th>
              <% if customer.is_deleted == false %>
               <p class="text-success">入会中</p>
              <% else %>
                 <p class="text-danger">退会済み</p>
              <% end %>
            </th>
          </tr>
        <% end%>
      </tbody>
    </table>
  <%= paginate @customers, theme: 'twitter-bootstrap-4' %>
</div>