<div class="container  px-8 px-sm-8">
  <p><span class="bg-lightsecondary"><h2 class="text-center">管理者用投稿一覧</h2></span>
    <table class="table table-hover table-dark">
       <thead>
         <tr>
           <th>ユーザーネーム</th>
           <th>投稿画像</th>
           <th>タイトル</th>
           <th>詳細</th>
           <th>投稿日</th>
         </tr>
       </thead>

       <tbody>
         <% @posts.each do |post| %>
           <tr  data-href="<%= admin_post_url(post.id) %>">
             <th>
               <%= post.customer.name %></th>
             <th>
               <% if post.image.attached? %>
                 <%= image_tag post.image, size: "50x50" %>
               <% else %>
                 <%= image_tag 'no_image', size: "50x50" %>
               <% end %></th>
             <th><%= post.title %></th>
             <th><%= link_to"詳細ページへ",admin_post_path(post.id) %></th>
             <th><%= post.created_at.strftime('%Y/%m/%d') %></th>
           </tr>
         <% end %>
       </tbody>
    </table>
  <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
</div>